<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="PicResourceCtrl">
	<!-- column -->
	<toaster-container toaster-options="{'position-class': 'toast-bottom-full-width', 'close-button':true}"></toaster-container>

<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">图片资源</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <!-- <div class="panel-heading">
      	图片资源列表
    </div> -->
    <div class="panel-body">
      <div class="col-sm-10">
	      <form class="form-inline" role="form" ng-submit="searchPic()">
	        <div class="form-group">
	          <select class="input-sm form-control w-sm inline v-middle" id="picCode_id" ng-model="search.picCode">
		          <option value="">不限</option>          
		          <option ng-repeat="codeType in picCodeTypes" value="{{codeType.code}}" ng-selected="codeType.code == search.picCode">{{codeType.name}}</option>
		        </select>
	        </div>
	        <div class="form-group">
	          <label class="sr-only" for="exampleInputPassword2">Password</label>
	          <input type="text" class="form-control input-sm" id="referId_id"  ng-model="search.referId" placeholder="关联资源ID" /> 
	        </div>
	        <button type="submit" class="btn btn-default btn-sm">查询</button>
	      </form>
      </div>
      
      <div class="col-sm-2">
      	<div class="input-group">
	        <div class="btn-group">
	            <button class="btn btn-sm btn-danger" type="button">批量删除</button>
	            <span ng-controller="picAddCtrl" uploader="uploader">
		          <script type="text/ng-template" id="myModalContent.html">
            			<div ng-include="'static/tpl/jyyx/modal/pic_resource_add.html'"></div>
          		  </script>
		          <!-- <button class="btn btn-success" ng-click="open('lg')">Form in a modal</button> -->
                  <button class="btn btn-sm btn-dark" type="button" ng-click="open('lg', 0)">添加资源</button>
		        </span>
	        </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
          	<th style="width:20px;">
              <label class="i-checks m-b-none">
                <input type="checkbox"><i></i>
              </label>
            </th>
            <th>Project</th>
            <th>Task</th>
            <th>Date</th>
            <th style="width:30px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          	<td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Idrawfast</td>
            <td>4c</td>
            <td>Jul 25, 2013</td>
            <td>
              xxxx
            </td>
          </tr> 
          <tr>
          	<td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Idrawfast</td>
            <td>4c</td>
            <td>Jul 25, 2013</td>
            <td>
              xxxx
            </td>
          </tr>
          <tr>
          	<td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Idrawfast</td>
            <td>4c</td>
            <td>Jul 25, 2013</td>
            <td>
              xxxx
            </td>
          </tr>
          <tr>
          	<td><label class="i-checks m-b-none"><input type="checkbox" name="post[]"><i></i></label></td>
            <td>Idrawfast</td>
            <td>4c</td>
            <td>Jul 25, 2013</td>
            <td>
              xxxx
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div data-ng-include="'static/tpl/blocks/paging_foot.html'" />
  </div>
</div>

	<!-- /column -->
<script type="text/ng-template" id="messageModal.html">
	<div ng-include="'static/tpl/blocks/modal_box.html'"></div>
</script>
<!-- <div ng-show="showProcess">
	<div  class="modal-backdrop fade in" ng-class="{in: animate}" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" modal-backdrop="" style="z-index: 1040;">
	</div>
	<div tabindex="-1" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" index="0" animate="animate" style="z-index: 1050; display: block;">
	   <div style="margin-left: 40%;margin-top: 20%;">
			<img src="static/img/process.gif" width="160px" height="160px" alt="加载中">
		</div>
	</div>
</div> -->
</div>
