@CHARSET "UTF-8";

img.preview {
	width:30px;
	height:30px;
}

div.show_big_pic {
	position: absolute;
	width:100%;
	top:350px;
	margin-bottom: auto;
	z-index: 1000;
	text-align: center;
}
