<script src="static/js/lib/echarts-all.js"></script>
<style type="text/css">
	.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid #ddd !important;
}
</style>
<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="PhysicalDetailCtrl">

	<!-- column -->

	<div class="bg-light lter b-b wrapper-md ng-scope text-center">
		<h1 class="m-n font-thin h3">{{ip}}</h1>
	</div>

	<div class="col-lg-12 m-t-xs">
		<div class="col-lg-2">
				CPU：{{device.hostState.numberOfCpuCores}}core 
		</div>
		<div class="col-lg-2">
				总内存：{{device.hostState.memoryTotalBytes/1024/1024/1024 | number:2}}G
		</div>
		<div class="col-lg-2">
				空闲内存：{{device.hostState.memoryFreeBytes/1024/1024/1024 | number:2}}G
		</div>
		<div class="col-lg-2">
				Redis Master：{{masterNum}}
		</div>
		<div class="col-lg-2">
			RedisSlave：{{slaveNum}}
		</div>
		
	</div>

	<div class="col-lg-12 m-t-xs">
		<div class="col-md-12">
			<div class="col-lg-3 m-l-n" ng-repeat="cluster in clusters">
				<a href="" ui-sref="app.cacheDetail({clustrId:{{cluster.define.id}}})">
					<div class="panel panel-default ng-scope">
						<div class="panel-heading text-center">
							{{cluster.define.name}}
						</div>
						<div class="list-group bg-success col-lg-12">
							<div class="col-lg-6 list-group no-radius no-border no-bg m-b-none">
								<span class="list-group-item" style="padding:2px 5px;">应用名：{{cluster.define.ownAppName}}</span>
								<span class="list-group-item" style="padding:2px 5px;">master数量：{{cluster.define.numberOfPartitions}}
	   						</div>
	   					  
		   					<div class="col-lg-6 list-group no-radius no-border no-bg m-b-none">
		   						<span class="list-group-item" style="padding:2px 5px;">模块名：{{cluster.define.ownModuleName}}</span>
								<span class="list-group-item" style="padding:2px 5px;">slave数量：{{cluster.define.numberOfPartitions * cluster.define.dataReplicate}}</span>
		   					</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div class="col-lg-12 m-t-xs" ng-controller="FlotChartDemoCtrl">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">内存使用折线图</div>
				<div class="panel-body">
					<div id="memory" style="height:400px"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12 m-t-xs" ng-controller="FlotChartDemoCtrl">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">网络流量折线图</div>
				<div class="panel-body">
					<div id="network" style="height:400px"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">负载折线图</div>
				<div class="panel-body">
					<div id="cpu" style="height:400px"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12 m-t-xs text-right">
		<button type="submit" class="btn btn-danger" ng-click="deletePhysical()">删除物理机</button>
		<!--<button type="submit" class="btn btn-success">关闭</button>-->
	</div>

	<!-- /column -->
	<script type="text/ng-template" id="myModalContent.html">
		<div ng-include="'static/tpl/blocks/modal_box.html'"></div>
	</script>
</div>
<toaster-container toaster-options="{'position-class': 'toast-bottom-full-width', 'close-button':true}"></toaster-container>
<!-- /hbox layout -->