<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="AlloctingResourceCtrl">
	<!-- column -->
	<toaster-container toaster-options="{'position-class': 'toast-bottom-full-width', 'close-button':true}"></toaster-container>
	<div class="col-lg-12 m-t-xs">
		<div class="panel b-a">
			<div class="panel-heading no-border bg-primary">
				<span class="text-lt">物理机资源展示</span>
			</div>
			<div class="row" ng-repeat="hostInfoRow in hostInfoRows">
				<div class="col-lg-3 m-t-xs" ng-repeat="hostInfo in hostInfoRow">
				<div class="panel panel-default ng-scope">
					<div class="panel-heading text-center">
						{{hostInfo.name}}
					</div>
					<div class="text-center" ng-show="!hostInfo.hostState">
						<img src="static/img/loading.gif" width="80px" height="80px" alt="加载中" />
					</div>

					<div class="list-group" ng-show="hostInfo.hostState.ok && hostInfo.hostState">
						<div class="col-lg-6">
							<div class="m-l-sm ng-binding m-t-xs" style="color:#0a0808;">内存空闲率</div>
							<div class="col-md-12 m-t-n-sm m-l-n-xs">
								<div ui-jq="easyPieChart" ui-options="{
							              percent: {{hostInfo.hostState.memoryFreeBytes/hostInfo.hostState.memoryTotalBytes*100}},
							              lineWidth: 6,
							              trackColor: '{{app.color.light}}',
							              barColor: '{{app.color.success}}',
							              scaleColor: false,
							              size: 70,
							              rotate: 0,
							              lineCap: 'butt'
							            }" class="inline m-t">
							    <span class="text-info h4">{{hostInfo.hostState.memoryFreeBytes/hostInfo.hostState.memoryTotalBytes*100 | number:2}}%</span>
								</div>
							</div>
							
						</div>
						<div class="col">
							<div class="list-group no-radius no-border no-bg m-b-none">
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">内核：{{hostInfo.hostState.numberOfCpuCores}} core</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">负载：{{hostInfo.hostState.load}} load</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">空闲内存：{{hostInfo.hostState.memoryFreeBytes/1024/1024/1024 | number:2}}G</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">总内存：{{hostInfo.hostState.memoryTotalBytes/1024/1024/1024 | number:2}}G</span>
   					  </div>
						</div>
					</div>
					
					<div class="list-group bg-danger" ng-show="!hostInfo.hostState.ok && hostInfo.hostState">
						<div class="col-lg-6">
							<div class="col-md-12">
								该机器发生故障
							</div>
						</div>
						<div class="col">
							<div class="list-group no-radius no-border no-bg m-b-none">
								<span class="list-group-item" style="padding:4px 5px;border: 0px !important;">内核：{{hostInfo.hostState.numberOfCpuCores}} core</span>
								<span class="list-group-item" style="padding:4px 5px;border: 0px;">负载：{{hostInfo.hostState.load}} load</span>
								<span class="list-group-item" style="padding:4px 5px;border: 0px;">空闲内存：{{hostInfo.hostState.memoryFreeBytes/1024/1024/1024 | number:2}}G</span>
								<span class="list-group-item" style="padding:4px 5px;border: 0px;">总内存：{{hostInfo.hostState.memoryTotalBytes/1024/1024/1024 | number:2}}G</span>
   					  </div>
						</div>
					</div>
					
				</div>
			</div>

			</div>
			
		</div>
	</div>

	<div class="col-lg-12">
		<div class="row row-sm">

			<div class="col-lg-9">
				<li class="line dk"></li>
				<div class="panel b-a">
					<div class="panel-heading text-center bg-success no-border">
						<span class="text-u-c m-b-none font-bold">分配缓存集群</span>
					</div>
					<form name="form" class="form-validation" ng-submit="postData()">
					<div class="panel-body">
						<!--<p class="text-muted">Need support? please fill the fields below.</p>     -->
						<div class="form-group pull-in clearfix">
							<div class="col-sm-6">
								<label>所属应用</label>
								<select class="form-control m-b" ng-model="selectedApp" ng-options="app.name for app in apps" ng-change="selectApp()" required>
					       <option value="">请选择应用</option>  
								</select>
							</div>
							<div class="col-sm-6">
								<label>所属模块</label>
								<select class="form-control m-b" ng-model="selectedModule" ng-options="module.name for module in modules" required>
					      	 <option value="">请选择模块</option>  
								</select>
							</div>
						</div>

						<div class="form-group pull-in clearfix">
							<div class="col-sm-6">
								<label>名称</label>
								<input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="serviceDef.name" required type="text">
							</div>
							<div class="col-sm-6">
								<label>数据分片</label>
								<input ui-jq="TouchSpin" type="text" ng-change="autoUpdateMemory()" ng-model="serviceDef.numberOfPartitions" class="form-control" data-min='3' 
									data-max="10" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" required
									data-verticaldownclass="fa fa-caret-down">
							</div>
						</div>

						<div class="form-group pull-in clearfix">
							<div class="col-sm-6">
								<label>数据复制份数</label>
								<input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" 
									ng-model="serviceDef.dataReplicate" required type="text">
							</div>
							<div class="col-sm-6">
								<label>最大容量</label>
								<div class="input-group m-b">
		              <input class="form-control" type="text" ng-model="serviceDef.dataCapacity" required>
		              <span class="input-group-addon">G</span>
           			</div>
							</div>
						</div>

						<div class="form-group pull-in clearfix">
							<div class="col-sm-6">
								<label>最大QPS</label>
								<input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched ng-valid-pattern" ng-model="serviceDef.maxQps" required="" type="text"  ng-pattern="/^[0-9]+$/">
							</div>
							<div class="col-sm-6">
								<label>跨机房备份比例</label>
								<div class="input-group m-b">
		              <input class="form-control" ui-jq="TouchSpin" data-verticalupclass="" data-verticaldownclass="" data-verticalbuttons="true" type="text" placeholder="百分比" data-max="100" ng-model="serviceDef.backupRatio" required>
		              <span class="input-group-addon">%</span>
           			</div>
							</div>
						</div>

							<div class="form-group pull-in clearfix">
								<div class="col-sm-6">
									<label>主备自动切换等待时间</label> 
									<div class="input-group m-b">
										<input class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched ng-valid-pattern"
											ng-model="serviceDef.timeWait" required type="text" ng-pattern="/^[0-9]+$/"/>
											<span class="input-group-addon">分钟</span>
									</div>
								</div>								
							</div>

							<div class="row">
							<div class="col-lg-6">
								<ul class="list-group no-radius">
									<li class="list-group-item">
										<span class="pull-right">{{serviceDef.dataCapacity*1024 / serviceDef.numberOfPartitions | number:2}}
											<strong>M</strong></span>
										<span class="label bg-primary">1</span> 每分片存储量
									</li>
									<li class="list-group-item">
										<span class="pull-right">{{serviceDef.numberOfPartitions}}主/
											{{serviceDef.dataReplicate == 0 || serviceDef.dataReplicate == NaN?0:serviceDef.numberOfPartitions}}
											备</span>
										<span class="label bg-primary">2</span> 需要物理机数
									</li>
									<li class="list-group-item">
										<span class="pull-right">{{serviceDef.dataCapacity*1024 / serviceDef.numberOfPartitions*(1+serviceDef.dataReplicate)*(1+serviceDef.backupRatio/100) | number:2}}
											<strong>M</strong>
										</span>
										<span class="label bg-primary">3</span> 每分片实际消耗内存
									</li>
								</ul>
							</div>
								<div class="col-lg-6">
								<ul class="list-group no-radius">
									<li class="list-group-item">
										<span class="pull-right">{{serviceDef.dataCapacity*1024*(1+serviceDef.backupRatio/100) | number : 2}}
											<strong>M</strong>
										</span>
										<span class="label bg-info">4</span> 总计实际消耗内存
									</li>
									<li class="list-group-item">
										<span class="pull-right">{{serviceDef.numberOfPartitions}}主/
											{{serviceDef.backupRatio>0?serviceDef.numberOfPartitions * serviceDef.dataReplicate:0 |number : 0}}备</span>
										<span class="label bg-info">5</span> redis进程数
									</li>
								</ul>
							</div>
						</div>
						
						<li class="line dk"></li>
						<footer class="panel-footer text-right">
							<a href="" class="btn btn-success" ui-sref="app.cacheMonitor">取消</a>
							<button type="submit" ng-disabled="form.$invalid" class="btn btn-success">分配</button>
						</footer>
					</div>
					</form>
				</div>

			</div>
			<div class="col-lg-3">
				<li class="line dk"></li>
				<span class="bg-light lt wrapper-sm m-t text-danger font-bold">
					{{message}}
				</span>
			</div>
		</div>

	</div>
	<!-- /column -->
<script type="text/ng-template" id="myModalContent.html">
	<div ng-include="'static/tpl/blocks/modal_box.html'"></div>
</script>
<div ng-show="showProcess">
	<div  class="modal-backdrop fade in" ng-class="{in: animate}" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" modal-backdrop="" style="z-index: 1040;">
	</div>
	<div tabindex="-1" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" index="0" animate="animate" style="z-index: 1050; display: block;">
	   <div style="margin-left: 40%;margin-top: 20%;">
			<img src="static/img/process.gif" width="160px" height="160px" alt="加载中">
		</div>
	</div>
</div>
</div>
