<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  " ng-controller="UpdateMemoryCtrl">
  <script type="text/javascript" src="static/js/lib/radialIndicator.min.js"></script>
	<!-- column -->
<toaster-container toaster-options="{'position-class': 'toast-bottom-full-width', 'close-button':true}"></toaster-container>

	<div class="col-lg-12 m-t-xs">
		<div class="panel b-a">
			<div class="panel-heading no-border bg-primary">
				<span class="text-lt">物理机资源展示</span>
			</div>
		<div class="row" ng-repeat="hostInfoRow in hostInfoRows">
			<div class="col-lg-3 m-t-xs" ng-repeat="hostInfo in hostInfoRow">
				<div class="panel panel-default ng-scope">
					<div class="panel-heading text-center">
						{{hostInfo.name}}
					</div>
					
					<div class="text-center" ng-show="!hostInfo.hostState">
						<img src="static/img/loading.gif" width="80px" height="80px" alt="加载中" />
					</div>

					<div class="list-group" ng-show="hostInfo.hostState.ok && hostInfo.hostState">
						<div class="col-lg-6">
							<div class="m-l-sm ng-binding m-t-xs" style="color:#0a0808;">内存空闲率</div>
							<div class="col-md-12 m-t-n-sm m-l-n-xs">
								<div ui-jq="easyPieChart" ui-options="{
							              percent: {{hostInfo.hostState.memoryFreeBytes/hostInfo.hostState.memoryTotalBytes*100}},
							              lineWidth: 6,
							              trackColor: '{{app.color.light}}',
							              barColor: '{{app.color.success}}',
							              scaleColor: false,
							              size: 70,
							              rotate: 0,
							              lineCap: 'butt'
							            }" class="inline m-t">
							    <span class="text-info h4">{{hostInfo.hostState.memoryFreeBytes/hostInfo.hostState.memoryTotalBytes*100 | number:2}}%</span>
								</div>
							</div>
							
						</div>
						<div class="col">
							<div class="list-group no-radius no-border no-bg m-b-none">
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">内核：{{hostInfo.hostState.numberOfCpuCores}} core</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">负载：{{hostInfo.hostState.load}} load</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">空闲内存：{{hostInfo.hostState.memoryFreeBytes/1024/1024/1024 | number:2}}G</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">总内存：{{hostInfo.hostState.memoryTotalBytes/1024/1024/1024 | number:2}}G</span>
   					  </div>
						</div>
					</div>
					
					<div class="list-group bg-danger" ng-show="!hostInfo.hostState.ok && hostInfo.hostState">
						<div class="col-lg-6">
							<div class="col-md-12">
								该机器发生故障
							</div>
						</div>
						<div class="col">
							<div class="list-group no-radius no-border no-bg m-b-none">
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">内核：{{hostInfo.hostState.numberOfCpuCores}} core</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">负载：{{hostInfo.hostState.load}} load</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">空闲内存：{{hostInfo.hostState.memoryFreeBytes/1024/1024/1024 | number:2}}G</span>
								<span class="list-group-item" style="padding:4px 5px; border: 0px !important;">总内存：{{hostInfo.hostState.memoryTotalBytes/1024/1024/1024 | number:2}}G</span>
   					  </div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-9" ng-show="processShow">
				<li class="line dk"></li>
				<div class="block panel padder-v item">
					<div class="row" ng-show="isExpand == 'EXPAND'">
						<div class="col-md-3 text-center">
							 <div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[0].percent"></div>  
							 <span class="text-info h6">更改节点</span>
						</div>
						<div class="col-md-3 text-center">
							 <div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[1].percent"></div>  
							 <span class="text-info h6">准备迁移</span>
						</div>
						<div class="col-md-3 text-center">
							 <div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[2].percent"></div>  
							 <span class="text-info h6">迁移数据</span>
						</div>
						<div class="col-md-2 text-center">
							 <div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[3].percent"></div>  
							<span class="text-info h6">完成</span>
						</div>
					</div>
					
				<!--	缩容过程-->
					<div class="row" ng-show="isExpand != 'EXPAND'">
						<div class="col-md-3 text-center">
							 <div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[1].percent"></div>  
							 <span class="text-info h6">准备迁移</span>
						</div>
						<div class="col-md-3 text-center">
							<div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[2].percent"></div>  
							<span class="text-info h6">迁移数据</span>
						</div>
						<div class="col-md-3 text-center">
							<div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[0].percent"></div>  
							<span class="text-info h6">更改节点</span>
						</div>
						<div class="col-md-2 text-center">
							<div data-radial-indicator="{radius : 35, percentage :true,barColor : '#87CEEB', initValue: 70}" data-radial-indicator-model="process[3].percent"></div>  
							<span class="text-info h6">完成</span>
						</div>
					</div>
					<div class="row m-l-lg m-t-sm text-center">
						<span style="color: red;">
							{{process[allProcess.nowStep].message}}
						</span>
					</div>
					<progressbar class="progress-striped active m-b-sm m-t-sm" value="allProcess.allpercent" 
						type="{{allProcess.type}}">
						{{allProcess.allpercent}}%
					</progressbar>
					<!--<div class="row m-l-lg m-t-sm text-center">
						预计还有20分钟
					</div>-->
					<div class="text-right m-t-sm">
						<button class="btn btn-danger m-r-sm" ng-disabled="stopButton" ng-click="stop()">终止</button>
						<!--<button type="submit" class="btn btn-success">关闭</button>-->
					</div>
				</div>
			</div>
		</div>

		<div class="row row-sm">

			<div class="col-lg-9">
				<li class="line dk"></li>
				<div class="panel b-a">
					<div class="panel-heading text-center bg-success no-border">
						<span class="text-u-c m-b-none font-bold">扩容/缩容</span>
					</div>
					<form name="form" class="form-validation" ng-submit="updateMemory()">
					<div class="panel-body">
						<!--<p class="text-muted">Need support? please fill the fields below.</p>     -->
						<div class="form-group pull-in clearfix">
							<div class="col-sm-6">
								<label>名称</label> 
								<select ng-disabled="changeButtonDisabled" class="form-control m-b" ng-model="selectedredisClusterId" ng-change="selectCluster()" ng-options="redisCluster.define.id as redisCluster.define.name for redisCluster in redisClusters" required>
					      	<option value="">请选择一个集群</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label>数据分片</label>
								<div>
									<input ng-disabled="changeButtonDisabled" ng-change="autoUpdateMemory()" required ui-jq="TouchSpin" type="text" ng-model="selectedredisCluster.define.numberOfPartitions" class="form-control" data-min='3' data-max="10" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
								</div>
							</div>
						</div>
						<div class="form-group pull-in clearfix">
							<div class="col-sm-6">
								<label>数据复制份数</label>
								<input ng-disabled="changeButtonDisabled" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" 
									ng-model="selectedredisCluster.define.dataReplicate" required type="text">
							</div>
							<div class="col-sm-6">
								<label>容量变更</label>
								<div class="input-group m-b">
									<input ng-disabled="changeButtonDisabled" class="form-control" type="text" placeholder="容量大小" ng-model="selectedredisCluster.define.dataCapacity" required>
									<span class="input-group-addon">G</span>
								</div>
							</div>
							<code>建议新增容量正比于原来数据分片数量，否则可能产生数据倾斜。</code>
							
							<!--<div class="col-sm-6">
								<code>建议新增容量正比于原来数据分片数量，否则可能产生数据倾斜。</code>
							</div>-->
						</div>

						<div class="row">
							<div class="col-lg-6">
								<ul class="list-group no-radius">
									<li class="list-group-item">
										<span class="pull-right">{{selectedredisCluster.define.dataCapacity*1024*(1+selectedredisCluster.define.backupRatio/100) - dataCapacity*1024*(1+backupRatio/100) | number : 2}}M</span>
										<span class="label bg-primary">1</span> 新增实际内存消耗
									</li>
									<li class="list-group-item"> 
										<span class="pull-right">{{selectedredisCluster.define.dataCapacity*1024 / selectedredisCluster.define.numberOfPartitions*(1+selectedredisCluster.define.dataReplicate)*(1+selectedredisCluster.define.backupRatio/100) | number:2}}
											<strong>M</strong>
										</span>
										<span class="label bg-info">2</span> 每分片实际消耗内存
									</li>
									<li class="list-group-item">
									<span class="pull-right">{{selectedredisCluster.define.numberOfPartitions}}主/
											{{selectedredisCluster.define.backupRatio>0?selectedredisCluster.define.numberOfPartitions * selectedredisCluster.define.dataReplicate:0 |number : 0}}备</span>
										<span class="label bg-success">3</span> redis进程数
									</li>
								</ul>
							</div>
						</div>
					</div>
					<li class="line dk"></li>
					<footer class="panel-footer text-right">
						<a href="" class="btn btn-success" ui-sref="app.cacheMonitor">取消</a>
						<button type="submit" class="btn btn-info" ng-disabled="changeButtonDisabled">分配</button>
					</footer>
					</form>
				</div>

			</div>

		</div>
	</div>

</div>
<!-- /column -->
<script type="text/ng-template" id="myModalContent.html">
	<div ng-include="'static/tpl/blocks/modal_box.html'"></div>
</script>
</div>
<!-- /hbox layout -->